html {
    font-size: 10px;
}

body,html {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
}

body {
    background-color: #65737F;
}

.game {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    padding: 2rem;
 	text-align: center;
    transition: all .07s ease;
    width: 60rem;
    height: 20rem;
    background: rgba(0,0,0,0.4);
    box-shadow: 6px 8px 4px rgba(0,0,0,.4);
}

.game h1 {
   color: #B5BABE;
   font-size: 45px;
}

.game h3 {
   font-family: 'Schoolbell', sans-serif;
   font-size: 25px;
   font-weight: 400;
   color: #B5BABE;
   margin-top: 3rem;
   margin-bottom: 3rem;
}

.game .result {
	color: #B5BABE;
	font-family: 'Schoolbell', sans-serif;
	font-size: 25px;
	font-weight: 400;
    margin-top: 3rem;
	margin-bottom: 3rem;
}

.buttons {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.btn {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    background: rgba(0,0,0,0.4);
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
    text-align: center;
    text-shadow: 0 0 .5rem black;
    cursor: pointer;
    outline: 0;
    box-shadow: 6px 8px 4px rgba(0,0,0,.4);

}

.play-again {
    display: none;
}

.score {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 5rem auto;
    font-size: 1.5rem;
    padding: 1rem;
 	text-align: center;
    transition: all .07s ease;
    width: 20rem;
    background: rgba(0,0,0,0.4);
    box-shadow: 6px 8px 4px rgba(0,0,0,.4);
}

.score p {
    font-family: 'Schoolbell', cursive;
    font-size: 25px;
    color: #B5BABE;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .select {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }